extends ./layout.pug
block title
    title KHURS Check my reservation list
block content
    h1 My Reservation Lists
    hr

    h3 Reservations
    h6.text-muted 예약 목록
    //table.table.table-bordered
    //    thead.thead-default
    //        tr
    //            th a
    //            th b
    //            th c
    //    tbody
    //        tr
    //            td d
    //            td e
    //            td f
    
    hr

    h3 Waitings
    h6.text-muted 예약 대기 목록
    hr