html
    head
        title= 'index'
    body
        h1= 'Test index page'
        ul
            li: a(href='pug-test') pug-test
            li: a(href='html-test') html-test
            li: a(href='login') login
            li: a(href='session-test') session-test