//- html
doctype html
html
    head
        block title
        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/font-awesome.min.css')
        link(rel='stylesheet', href='css/navbar-top-fixed.css')
        link(rel='stylesheet', href='css/column-table.css')
        link(rel='stylesheet', href='css/tagit.css')
    body
        header
            nav.navbar.navbar-toggleable-md.navbar-inverse.fixed-top.bg-inverse
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                a.navbar-brand(href='/main') KHURS
                div.collapse.navbar-collapse#navbarCollapse
                    ul.navbar-nav.mr-auto
                        li.nav-item: a.nav-link(href='/main') Home
                        //li.nav-item: a.nav-link(href='#') Inquiry
                        //li.nav-item: a.nav-link(href='#') Reserve
                    a.btn.btn-secondary.my-2.my-md-0(role='button', href='/logout') Logout

            block inline_css
        div.container
            block content
        footer
            script(src='js/jquery-3.2.1.min.js')
            script(src='js/jquery.tagit.js')
            script(src='js/tether.min.js')
            script(src='js/popper.min.js')
            script(src='js/bootstrap.min.js')
            script(src='js/column-table.js')
        block inline_script

