extends ./layout.pug
block title
    title KHURS
block content
    p main page

    //- session, variable test
    hr
    pre #{session}
    hr
    pre !{session}
    hr
    pre #{JSON.stringify(session)}
    hr
    pre !{JSON.stringify(session)}
    hr

