<!DOCTYPE html>
<html>
<head>
	<title>test page</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<h1>test page</h1>
    <h6><a href="..">back to index</a></h6>
	<table>
        <thead>
            <tr>
                <th>aa</th>
                <th>bb</th>
                <th>cc</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>dd</td>
                <td>ee</td>
                <td>ff</td>
            </tr>
            <tr>
                <td>gg</td>
                <td>hh</td>
                <td>ii</td>
            </tr>
            <tr>
                <td>jj</td>
                <td>kk</td>
                <td>ll</td>
            </tr>
        </tbody>
    </table>
</body>
</html>