<!DOCTYPE html>
<html>
<head>
	<title>test page</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<h1>test page</h1>
    <h6><a href="..">back to index</a></h6>

    <div class="column-table">
        <div class="column column-header">
            <div class="cell cell-header"></div>
            <div class="cell cell-header">12am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">1am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">2am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">3am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">4am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">5am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">6am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">7am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">8am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">9am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">10am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">11am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">12pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">1pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">2pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">3pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">4pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">5pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">6pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">7pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">8pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">9pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">10pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">11pm</div>
            <div class="cell cell-header"></div>
        </div>

        <div class="column">
            <div class="cell cell-header">201호</div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
        </div>

        <div class="column">
            <div class="cell cell-header">202호</div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
            <div class="cell" colspan="2"></div>
        </div>
    </div>
</body>
</html>