<!DOCTYPE html>
<html>
<head>
	<title>test page</title>
    <link rel="stylesheet" type="text/css" href="css/test-page-style.css">

    <script>

    </script>
</head>
<body>
	<h1>test page</h1>
    <h6><a href="..">back to index</a></h6>

    <hr>

    <div class="column-table">
        <div class="column column-header">
            <div class="cell cell-header"></div>
            <div class="cell cell-header">12am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">1am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">2am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">3am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">4am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">5am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">6am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">7am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">8am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">9am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">10am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">11am</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">12pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">1pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">2pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">3pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">4pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">5pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">6pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">7pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">8pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">9pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">10pm</div>
            <div class="cell cell-header"></div>
            <div class="cell cell-header">11pm</div>
            <div class="cell cell-header"></div>
        </div>

        <div class="column">
            <div class="cell cell-header">201호</div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-reserved" data-colspan="3"></div>
            <div class="cell cell-empty" data-colspan="1"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-reserved" data-colspan="4"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
        </div>

        <div class="column">
            <div class="cell cell-header">202호</div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-reserved" data-colspan="4"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-reserved" data-colspan="6"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
        </div>

        <div class="column">
            <div class="cell cell-header">203호</div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
        </div>

        <div class="column">
            <div class="cell cell-header">204호</div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
        </div>

        <div class="column">
            <div class="cell cell-header">205호</div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
        </div>

        <div class="column">
            <div class="cell cell-header">206호</div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
        </div>

        <div class="column">
            <div class="cell cell-header">207호</div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
        </div>

        <div class="column">
            <div class="cell cell-header">208호</div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
        </div>

        <div class="column">
            <div class="cell cell-header">209호</div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
        </div>

        <div class="column">
            <div class="cell cell-header">210호</div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
        </div>

        <div class="column">
            <div class="cell cell-header">211호</div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
        </div>

        <div class="column">
            <div class="cell cell-header">212호</div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
            <div class="cell cell-empty" data-colspan="2"></div>
        </div>
    </div>


    <!-- scripts -->
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <!--<script-->
            <!--src="https://code.jquery.com/jquery-3.2.1.min.js"-->
            <!--integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="-->
            <!--crossorigin="anonymous"></script>-->
    <script>
//        $('.cell[data-colspan]').each(function() {
//            console.log($(this).attr('data-colspan'));
//        });

//        $('.cell[data-colspan]').style('height', $(this).attr('data-colspan')+"px");
        $('.cell[data-colspan]').each(function() {
            $(this).css('height', Number($(this).attr('data-colspan'))*30 + "px");
        });
    </script>
</body>
</html>