div.column-table {
    overflow-x: auto;
    white-space: nowrap;
}

/**
 * column table 안의 모든 cell div
 */
div.column-table div.cell {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    height: 30px;
    border: 1px #cccccc solid;
    text-align: center;
    /*display: table-cell;*/
    word-wrap: break-word;
}

/* 1열 */
div.column-table div.column-header div.cell {
    /*border: 1px blue solid;*/
    text-align: center;
    border: 2px #666666 solid;
}

/* 1행 */
div.column-table div.column div.cell.cell-header {
    text-align: center;
    border: 1px #666666 solid;
}

div.cell.cell-empty {
    background: repeating-linear-gradient(-45deg,
        #e8e8e8,
        #e8e8e8 5px,
        #f7f7f7 5px,
        #f7f7f7 10px
    );
}

div.cell.cell-reserved {
    background: #dff0d8;
    border: 1px #3c763d solid !important;
}

div.cell.cell-reserved-class {
    background: #f2dede;
    border: 1px #a94442 solid !important;
}

div.column {
    width: calc(100% / 12);
    float: left;
}